<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.9.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3650.58" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net48" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net48" />
  <package id="PropertyChanged.Fody" version="4.1.0" targetFramework="net48" />
  <package id="QuestPDF" version="2025.12.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="10.0.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
</packages>